<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag  "application" %>
  <title>Myapp</title>
  <h4 class='text-center'>Hey there, Lets learn deployment using Heroku !</h4>
</head>
<body>

<%= yield %>

</body>
</html>
